@tailwind base;
@tailwind components;
@tailwind utilities;

.button-effect {
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-effect:hover {
  background-color: #8e3eb2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: unset;
}

.button-effect:active {
  transform: translateY(2px);
}
